.login-container {
    border: thick;
    border-color: black;
    display: flex;
    height: 100vh;
    padding:2%;
  }
  
  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* background: linear-gradient(rgb(143, 143, 233),rgb(86, 86, 233),rgb(35, 35, 235)); */
    /* background: linear-gradient(#ee7724, #d8363a, #dd3675, #b44593); */
    background-image: url("../src/images/doctor-clinic-illustration_1270-69.avif");
    background-repeat: no-repeat ;
    background-size:cover;

    color: #fff;
  }
  
  .login-title h2 {
    text-align: center;
    
  }
  
  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #f5f5f5;
  }
  
  .login-form {
    max-width: 1000px;
    padding: 140px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(10, 10, 10, 10);
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 112%;
    padding: 10px;
    background : rgb(81, 133, 245);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }