/* AdminDashboard.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .admin-dashboard {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    width: 290px;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    padding: 20px;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-link {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .nav-link.active {
    background-color: #555;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .filter-section {
    margin-bottom: 30px;
  }
  
  .filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .filter-container label {
    margin-right: 30px;
    font-size: large;
  }
  
  .filter-wrapper {
    display: flex;
  }
  
  .details-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-size: larger;
  }
  
  .details-wrapper p {
    margin-bottom: 10px;
    font-size: larger;
  }
  